* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 255, 128, 0.041);
}
h1 {
  font-size: 2em;
  font-weight: bold;
  color: rgb(0, 90, 20);
  margin: 0;
  padding: 0;
  text-align: center;
}
hr {
  border: 0;
  margin: 1rem 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.markdown {
  padding: 4rem;
  display: grid;
  row-gap: 4rem;
}
.input {
  border-color: transparent;
  color: rgb(18, 63, 0);
  border-radius: 1rem;
  font-size: 1.2rem;
  line-height: 2;
  box-shadow: 0 5px 15px rgba(0, 228, 49, 0.2);
  min-height: 30vh;
}
.input,
.result {
  padding: 1rem 2rem;
  line-height: 2;
}

@media screen and (min-width: 992px) {
  .markdown {
    min-height: 80vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }
}

/* unique styles */
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
blockquote {
  font-size: 2rem;
  font-style: italic;
  border-left: 5px solid gray;
  color: gray;
  padding-left: 2rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
blockquote ::first-letter {
  text-transform: uppercase;
}
pre {
  background: #222;
  display: inline-block;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
}
